h1 {
    font-family: 'Open Sans', sans-serif;
}
body {
    font-family: 'Open Sans Condensed', sans-serif;
}

.col-md-7 {
    .make-md-column(7);
}

.col-md-5 {
    .make-md-column(5);
}

.row {
    padding-top: 20px;

}

#title {
    padding-left: 15px;
}

footer {
  padding: 0.5rem 0;
}

