{% extends "layout.html" %}
{% block title %}COVID-19 Austria{% endblock %}
{% block body %}
{% for view, args in pages %}
<div class="container">
    <div class="row" id="title">
        <h1>COVID-19 Austria</h1>
    </div>
    <div class="row">
          <div class="col-md-7">
            <ul class="nav nav-tabs" id="mainTab">
                <li class="nav-item">
                    <a class="nav-link active" data-toggle="tab" href="#original" >Original</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"  data-toggle="tab" href="#ideal">Ideal model</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#current">Social Distancing</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#stop">Stop intervention</a>
                </li>
            </ul>

            <!--Tab panes-->
            <div class = "tab-content">
            <div id="original" class="tab-pane active chart">
                <script>
                var graphs = {{plot | safe}};
                Plotly.plot('original',graphs,{});
                </script>
            </div>
              <div id="ideal" class="tab-pane chart" >
                  <h2>Hello!</h2>
            </div>
             <div id="current" class="tab-pane chart" >
                <script>
                var graphs = {{plot_two | safe}};
                graph=Plotly.plot('current',graphs,{});
                </script>
            </div>
              <div id="stop" class="tab-pane chart" >
                <script>
                var graphs = {{plot_three | safe}};
                Plotly.plot('stop',graphs,{});
                </script>
            </div>
            </div>
        </div>
        <div class="col-md-5">
            <p>
                In december 2019 a novel coronavirus was passed on to the human species at a market in the province of Wuhan in China. The virus soon started to spread with an exceptional fast transmission rate across borders. On March 11th the World Health Organization (WHO) stated that the coronavirus “SARS-CoV-2” officially caused a pandemic.
            Reacting to this situation, Austria introduced measures to decelerate the disease from spreading to prevent a collapse of our healthcare system.
            </p>
            <p>To visualize our impact of minimizing physical interactions and staying home, an epidemic model can be used to simulate possible scenarios. Hereby we introduce an SEIR-model (Susceptible-Exposed-Infected-Recovered), which is used to predict scenarios during the development of a disease. Our model demonstrates the difference of the governmental measures, such as home-isolation, and a scenario without any measures at all. With this we can assess the impact of us, individuals within the situation. </p>
            <p>A SEIR-model is defined by specific parameters, such as the amount of susceptible(S) individuals, who potentially can become exposed to the disease at a virus-specific rate of transmission. An Exposed(E) individual may get infected(I) at a rate of infection. The amount of recovered(R) population is estimated by the recovery rate. Those rates are very specific for a disease. Since SARS-CoV-2 is a recently discovered virus, we can only estimate them based on ongoing research.  </p>
            <p>The transmission of a viral disease is defined by the basic reproduction number. It demonstrates the amount of individuals that will be infected, after being in contact with a person carrying the virus. For SARS-CoV-2 recent estimates for the basic reproduction number show a range of 2.76 to 3.28. If we reach a state where this number becomes smaller than 1, the viral outbreak will eventually extinct. Within our simulation we can compare a scenario without measures and the scenario with our current governmental measures in Austria. The simulations show, how much impact we all have during this exceptional situation. If we all follow the governmental measures of minimizing physical interactions, we can prevent the disease from spreading fast. Resulting in less people being infected at the same time we can help our healthcare system to stay intact. Saving lifes was never so easy!  </p>
        </div>
    </div>
</div>

<footer class="small text-center ">
    <div class="container">
        <hr>
      Created by Mariia Gonta, Anna Friedl, Chris Huetter and Daeun Kim <br>
        Copyright &copy; University of Applied Sciences Technikum Wien 2020
    </div>
</footer>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
{% endfor %}
{% endblock %}
