<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title> First Dashboard</title>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <link rel="shortcut icon" href="favicon.ico">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>
</head>
<body>

<div class="container">

    <div class="row">
        <div class="col-md-6">
            <div class="chart" id="figures">
                 <script>
                      var graphs = {{plot | safe}};
                      Plotly.plot('figures',graphs,{});
                  </script>
            </div>
        </div>
    </div>
</div>
</body>
</html>